<ion-view title="Bienvenido">
    <ion-content padding="true" class="has-header">
        <ion-list>
                <button class="button icon-left button-full button-stable button-icon ion-ios-navigate" ui-sref="eventos">EVENTOS</button>
                <br>
                <button class="button icon-left button-full button-stable button-icon ion-ios-location" ui-sref="mapa">MAPA</button>
                <br>
                <button class="button icon-left button-full button-stable button-icon ion-ios-play" ui-sref="play">PLAY</button>
                <br>
                <button class="button icon-left button-full button-stable button-icon ion-ios-help" ui-sref="ayuda">AYUDA</button>
                <br>
                <button class="button icon-left button-full button-stable button-icon ion-ios-close" ng-click="salir()">SALIR</button>   
        </ion-list>
    </ion-content>
</ion-view>


