<ion-view title="CONTRASEÑA">
    <ion-content padding="true" class="has-header" >
        <button class="button icon-left button-icon ion-navicon-round" ui-sref="menuPatrocinador"></button>
        <form name="formularioCon" class="list" ng-controller="contrasenaCtrl">
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <label class="item item-input">
                <span class="input-label">Ingrese Contraseña Actual</span>
                <input ng-model="actual_password" type="password" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <label class="item item-input">
                <span class="input-label">Ingrese Nueva Contraseña</span>
                <input ng-model="new_password" type="password" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <label class="item item-input">
                <span class="input-label">Confirme Nueva Contraseña</span>
                <input ng-model="new_password_repeat" type="password" placeholder="">
            </label>
       
            <input type="submit" class="button button-positive button-block icon-right ion-chevron-right" value="Iniciar sesión" ng-click="submit(formularioCon)"/>
        </form>
    </ion-content>
</ion-view>