<ion-view title="Información">
    <ion-nav-buttons side="right">
      <button class="button icon-left button-icon ion-navicon-round" ui-sref="bienvenido"></button>
    </ion-nav-buttons>
    <ion-content style="background: url(img/informacion.jpg)" fullscreen  padding="true" class="has-header">
        <h1 class="divertrip-font">diVertrip</h1>
        <p align="center" class="ayuda-desc">Versión 1.0</p>
        <img src="img/movil.png" class="ayuda-img">
        <p align="center" class="ayuda-desc">04 Diciembre 2015</p>
        <p align="center" class="ayuda-desc">&copy; Todos los derechos y los izquierdos reservados.</p>
    </ion-content>
</ion-view>