<ion-view title="Menu patrocinador">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <button class="button icon-left button-full button-stable button-icon ion-ios-cog" ui-sref="administrarEventos">CREAR EVENTO</button>
            <br>
            <button class="button icon-left button-full button-stable button-icon ion-unlocked" ui-sref="contrasena">CONTRASEÑA</button>
            <br>
            <button class="button icon-left button-full button-stable button-icon ion-folder" ui-sref="historial">HISTORIAL</button>
            <br>
            <button class="button icon-left button-full button-stable button-icon ion-ios-undo" ng-click="logout()">CERRAR SESION</button>
            <br>
            <button class="button icon-left button-full button-stable button-icon ion-ios-close" ng-click="salir()">SALIR</button>
        </ion-list>
    </ion-content>
</ion-view>
