<ion-view title="MAPA">
    <ion-content padding="false" class="has-header" scroll="false">
        <map data-tap-disabled="true" on-create="mapCreated(map)"></map>
    </ion-content>
    <ion-footer-bar class="bar-stable bar-dark" >
        <a class="button icon-left button-icon ion-navicon-round" ui-sref="bienvenido"/>
        <a  ng-click="showEmblematicos()" style="left:50px" class="button button-icon icon ion-map"></a>
        <a  ng-click="showEventos()" style="left:110px" class="button button-icon icon ion-beer"></a>
        <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"/>
    </ion-footer-bar>
</ion-view>
