<ion-view title="PLAY">
	<ion-nav-buttons side="right">
      <button class="button icon-left button-icon ion-navicon-round" ui-sref="inicio"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <h2 style="text-align:center">¿Qué es diVertrip?</h2>
        <div class="spacer" style="width: 300px; height: 12px;"></div>
        <iframe align="center"width="340" height="300"
        	src="http://sho.co/embed/170MK" frameborder="0">
    	</iframe>
    </ion-content>
</ion-view>